<div class="main">

  <section>
   <video autoplay id="bgvid">
    <source src= <%= asset_path "videos/fitness.mp4"%> type="video/mp4">
   </video>

  <div class="container">
       <%= image_tag 'Fitfind-Logo.png', class:"mainlogo"%>"
      
        <div class="blurb-container"> 
          <div>
            <%= link_to "Encuentra un Gimnasio", gyms_path, class: "btn btn-info mybutton"%>
          </div>
        </div>

    </div>
  </div>
  </section>

</div>

<footer id="footer">
  Copyright @2015
</footer>