
<div class="container">
<h1>Editar Item</h1>
<%= render 'form' %>

<%= link_to 'Mostrar Item', @gym, class:"fa fa-eye fa-border fa-lg" %> |
<%= link_to 'Volver al listado', gyms_path, class:"fa fa-arrow-circle-o-left fa-lg" %>

</div>
